
body {


background: linear-gradient(to left,blue,red);

}
.item1{
    
    display: flex;
    justify-content:center;
    align-items: center;
    position:relative; 
    float:top; 
    background-color:rgb(41,42,45);
    height:100px;
    border-radius:25px;
    padding:2px 20%;
    gap: 20px;

}
img {
    margin-top:40px;
    transition: rotate 2s;

}
img:hover{
    rotate:90deg;
    rotate:90deg;
}
