
.culoare{
    color:rgb(203, 90, 23);
}

img {
    width: 200px;
    height:200px;
    border-radius: 50px; 
    float:left;
    margin-right: 20px;
}

body {

background:burlywood;
}
.container{
    display:flex;
    width:200px;
    height:200px;
    border:5px solid linen;

}
.item1{
    
    flex-direction:row;
    justify-content:center;
    align-items: center;
    background-color:aqua;
    
    


}
